body {
  margin: 0;
  padding: 0; }

.container {
  margin: auto;
  font-family: Sans-serif; }

.mail-header {
  border-color: #2b4997;
  background-image: url("https://westwebdev.github.io/wsg-mail//img/fon.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .mail-header .logo {
    background: #fff;
    display: inline-block;
    padding: 22px 38px;
    height: 142px; }
    .mail-header .logo img {
      height: 100%; }
  .mail-header .header-text {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    margin: 15px auto 45px; }
  .mail-header .header-caption {
    display: inline-block;
    padding: 10px;
    border: 4px solid #fff; }
  .mail-header .line {
    height: 4px;
    width: 25%;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 25px; }
  .mail-header .header-content {
    background-color: #fff;
    background-size: 100% 100%;
    font-weight: bold;
    padding: 35px 0;
    display: inline-block;
    padding: 30px; }
    .mail-header .header-content .header-h2 {
      font-size: 23px;
      color: #5b5b5b;
      max-width: 900px;
      margin: auto; }
    .mail-header .header-content .header-h1 {
      font-size: 40px;
      max-width: 900px;
      margin: auto; }
  .mail-header .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 20px 16px; }
    .mail-header .social a img {
      height: 100%; }

.contact {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 15px; }
  .contact .phone {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    padding: 20px; }
    .contact .phone div {
      display: inline-block; }
  .contact .web {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 15px;
    background-color: #2b4997;
    color: #fff;
    font-size: 18px;
    vertical-align: middle; }
    .contact .web a {
      text-decoration: none;
      color: #fff;
      display: block; }
    .contact .web .site {
      font-weight: bold; }

.text-container {
  max-width: 900px;
  margin: auto;
  font-size: 22px;
  text-align: center; }
  .text-container .block-left {
    max-width: 440px;
    display: inline-block;
    margin: auto;
    padding-left: 5px; }
    .text-container .block-left div {
      text-align: left; }
    .text-container .block-left .block-h {
      color: #2b4997;
      font-weight: bold;
      font-size: 26px; }
  .text-container .block-li {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 25px;
    padding-left: 25px; }
    .text-container .block-li li {
      margin: 3px 0; }
  .text-container .block-right {
    max-width: 440px;
    display: inline-block;
    margin: auto;
    text-align: center;
    vertical-align: top; }
    .text-container .block-right .img {
      text-align: center; }
    .text-container .block-right div {
      text-align: left; }
    .text-container .block-right img {
      text-align: right;
      width: 100%;
      max-width: 290px; }
    .text-container .block-right .block-h-right {
      font-weight: bold; }
      .text-container .block-right .block-h-right span {
        color: #2b4997; }
    .text-container .block-right .people {
      margin-top: -35px; }
      .text-container .block-right .people img {
        margin-left: -120px;
        width: 80%; }

.image {
  max-width: 900px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px; }
  .image .image-img {
    display: inline-block;
    width: 290px; }
    .image .image-img img {
      width: 100%; }

.mail-footer {
  background-color: #2b4997;
  background-image: url("https://westwebdev.github.io/wsg-mail//img/footer.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 70px 0 50px; }
  .mail-footer .footer-main-text {
    max-width: 900px;
    margin: auto;
    font-size: 33px;
    color: #fff;
    text-align: center;
    margin-top: 50px; }
  .mail-footer .footer-main-text-2 {
    font-size: 18px;
    margin-top: 260px; }
  .mail-footer .adress {
    font-weight: bold;
    margin-bottom: 5px; }

/*# sourceMappingURL=style.css.map */
