@import url("https://fonts.googleapis.com/css?family=Raleway");
@font-face {
  font-family: 'FuturaPT';
  src: url("../fonts/FuturaPTMedium.ttf"); }

@font-face {
  font-family: 'FuturaPTL';
  src: url("../fonts/FuturaPTLight.ttf"); }

@font-face {
  font-family: 'FuturaPTB';
  src: url("../fonts/FuturaPTBook.ttf"); }

@font-face {
  font-family: 'FuturaPTH';
  src: url("../fonts/FuturaPTHeavy.ttf"); }

@font-face {
  font-family: 'FuturaPTD';
  src: url("../fonts/FuturaPTDemi.ttf"); }

@media screen and (max-width: 720px) {
  body {
    min-width: 425px; }
  .bunner nav {
    transition: 0.4s ease-out;
    -webkit-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    -ms-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    position: absolute;
    top: 0;
    left: -200%;
    background: grey;
    height: 3522px;
    width: 250px;
    box-shadow: 130px 0px 0px 45px rgba(0, 0, 0, 0.59); }
    .bunner nav li {
      display: block;
      text-align: left;
      font-size: 16px;
      margin-left: 15px;
      margin-bottom: 35px;
      top: 0%;
      transform: translateY(0%); }
    .bunner nav li:before {
      content: '\2022';
      color: #fff;
      margin-right: 15px; }
    .bunner nav .logo {
      display: block;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px; }
  .bunner .ninja:focus ~ nav,
  .bunner .ninja:active ~ nav {
    left: 0%;
    z-index: 200;
    overflow: hidden; }
  .bunner nav:hover li {
    display: block; }
  .bunner .ninja {
    display: block; }
  .bunner .st-effect-1.st-menu-open .st-effect-1.st-menu {
    visibility: visible;
    transform: translate3d(340%, 0, 0);
    z-index: 300; }
  .bunner {
    width: 425px;
    margin: auto;
    background: url("../image/1-Home.png") center top no-repeat;
    background-size: cover; }
    .bunner header {
      padding: 20px 0; }
    .bunner .logo {
      margin: auto; }
      .bunner .logo div {
        transform: translateY(-55%);
        font-size: 18px; }
    .bunner .title {
      margin-top: 69px;
      font-size: 22px;
      line-height: 30px; }
      .bunner .title div {
        width: 260px;
        margin: 20px auto 0;
        font-size: 16px;
        line-height: 20px; }
  .grad {
    margin: 120px 0 0px; }
    .grad .new {
      display: inline-block;
      text-align: center;
      margin: 0 0 0 10px; }
      .grad .new .new-block:nth-child(4) {
        float: left;
        margin-left: 20px; }
      .grad .new .new-block {
        display: inline-block;
        width: 160px;
        height: 60px;
        margin: 0 0 40px; }
        .grad .new .new-block .img {
          width: 70px;
          display: inline-block;
          vertical-align: top;
          text-align: center; }
          .grad .new .new-block .img img {
            margin: auto; }
        .grad .new .new-block div {
          display: inline-block;
          vertical-align: top;
          width: 84px;
          font-size: 16px;
          line-height: 15px;
          text-align: left; }
          .grad .new .new-block div div {
            font-size: 14px; }
  .site-h {
    font-size: 22px;
    margin: 60px 0 30px; }
  .why {
    width: 425px;
    display: block; }
    .why .why-box {
      display: block;
      text-align: center;
      margin-bottom: 20px; }
      .why .why-box img {
        width: 47px;
        float: left;
        margin: 0 20px 0 15px; }
      .why .why-box div {
        display: inline-block;
        text-align: left;
        font-size: 16px; }
        .why .why-box div div {
          display: block;
          margin: 15px 0 0 0;
          font-size: 14px; }
  .portfolio {
    width: 425px;
    display: block;
    margin: auto;
    border: none; }
    .portfolio .sl-capt {
      padding-top: 180px;
      font-size: 16px; }
    .portfolio .sl2 {
      padding-top: 5px;
      font-size: 14px; }
    .portfolio nav {
      margin-bottom: 0; }
      .portfolio nav li a {
        font-size: 12px; }
    .portfolio .inner {
      padding-left: 30px;
      width: 750%; }
    .portfolio .slide-image {
      height: 240px;
      width: 11%;
      background-position: -30px -25px; }
    .portfolio #overflow {
      height: 240px; }
    .portfolio #slide1:checked ~ #controls label:nth-child(2),
    .portfolio #slide2:checked ~ #controls label:nth-child(3),
    .portfolio #slide3:checked ~ #controls label:nth-child(4),
    .portfolio #slide4:checked ~ #controls label:nth-child(5),
    .portfolio #slide5:checked ~ #controls label:nth-child(1) {
      background: url("../image/Right-2.png") no-repeat center center; }
    .portfolio #slide1:checked ~ #controls label:nth-child(5),
    .portfolio #slide2:checked ~ #controls label:nth-child(1),
    .portfolio #slide3:checked ~ #controls label:nth-child(2),
    .portfolio #slide4:checked ~ #controls label:nth-child(3),
    .portfolio #slide5:checked ~ #controls label:nth-child(4) {
      background: url("../image/Left-2.png") no-repeat center center; }
    .portfolio #slide2:checked ~ #slides .inner {
      margin-left: -82%; }
    .portfolio #slide3:checked ~ #slides .inner {
      margin-left: -164%; }
    .portfolio #slide4:checked ~ #slides .inner {
      margin-left: -246%; }
    .portfolio #slide5:checked ~ #slides .inner {
      margin-left: -328%; }
  .blog {
    width: 425px; }
    .blog .blog-block {
      font-size: 16px; }
      .blog .blog-block .date {
        font-size: 24px;
        top: 15px;
        left: 15px; }
        .blog .blog-block .date div:nth-child(2) {
          font-size: 14px; }
      .blog .blog-block .web {
        font-size: 10px;
        top: 15px;
        right: 15px; }
      .blog .blog-block .submit {
        font-size: 16px;
        left: 15px; }
      .blog .blog-block input[type="submit"] {
        bottom: 15px;
        left: 15px;
        padding: 5px 40px; }
  .blog-block:nth-child(2) {
    width: 50%;
    height: 374px; }
    .blog-block:nth-child(2) .submit {
      width: 125px;
      bottom: 230px;
      left: 15px; }
  .blog-block:nth-child(3) {
    width: 50%;
    height: 186px; }
    .blog-block:nth-child(3) .submit {
      bottom: 65px; }
  .blog-block:nth-child(4) {
    width: 50%;
    height: 186px; }
    .blog-block:nth-child(4) .submit {
      bottom: 50%;
      transform: translateY(50%); }
  .blog-block:nth-child(5) {
    width: 100%;
    height: 186px; }
    .blog-block:nth-child(5) .submit {
      bottom: 50%;
      transform: translateY(50%); }
  .clielts #slider-2 {
    width: 425px; }
  .clielts .inner-2 {
    width: 600%; }
  .clielts .slide-image-2 {
    margin: 0 10px; }
  .clielts .slide-image-2 img {
    height: 25px; }
  .clielts #controls-2 {
    width: 110%;
    left: -5%;
    transform: translate(0%, -20%); }
  .clielts #slide1-2:checked ~ #slides-2 .inner-2 {
    margin-left: 0; }
  .clielts #slide2-2:checked ~ #slides-2 .inner-2 {
    margin-left: -31%; }
  .clielts #slide3-2:checked ~ #slides-2 .inner-2 {
    margin-left: -62%; }
  .clielts #slide4-2:checked ~ #slides-2 .inner-2 {
    margin-left: -93%; }
  .contact-us {
    width: 425px;
    height: 330px;
    margin: 384px auto 0;
    background-size: cover; }
    .contact-us iframe {
      height: 330px !important; }
    .contact-us .form {
      width: 425px;
      max-width: 100%; }
    .contact-us form {
      min-width: 425px;
      height: 334px;
      right: 0;
      top: -334px;
      padding: 0px; }
      .contact-us form .form-h {
        font-size: 22px;
        margin: 40px 0 0 15px; }
      .contact-us form input {
        width: 345px;
        margin-top: 30px;
        font-size: 16px;
        margin-left: 15px; }
      .contact-us form input[type="text"]:nth-child(4) {
        width: 345px; }
      .contact-us form input[type="submit"] {
        width: 345px;
        margin-top: 45px; }
  footer {
    width: 425px;
    margin: auto;
    padding: 15px 0; }
    footer .foot .logo {
      display: none; }
    footer .foot nav {
      width: 95%;
      display: block;
      text-align: center;
      margin: auto; }
      footer .foot nav li {
        margin: 0 10px 25px;
        font-size: 12px; }
    footer .foot .ph-e {
      width: 95%;
      display: block;
      margin: auto;
      text-align-last: justify; }
      footer .foot .ph-e .phone {
        margin: 0;
        font-size: 14px; }
    footer .foot .society {
      margin: 0 auto 10px; }
    footer .contact {
      font-size: 12px;
      text-align: center;
      margin: 10px auto;
      top: 0; } }

/*# sourceMappingURL=screen.css.map */
